/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face
{
	src: url("../fonts/PremierLeague/sky-text-regular.ttf");
	fontFamily: "StandardRegular";
	embedAsCFF: true;
}
@font-face
{
	src: url("../fonts/ExpertSans/sky-text-regular.ttf");
	fontFamily: "StandardRegularAllCase";
	embedAsCFF: true;
}
@font-face
{
	src: url("/assets/fonts/ExpertSans/sky-text-bold.ttf");
	fontFamily: "/assets/StandardRegularAllCase";
	fontWeight: bold;
	embedAsCFF: true;
}
@font-face
{
	src: url("../fonts/ExpertSans/sky-text-bold.ttf");
	fontFamily: "StandardRegularAllCase";
	fontWeight: bold;
	embedAsCFF: true;
}

@font-face
{
	src: url("../fonts/sky-text-regular.ttf");
	fontFamily: "StandardSans";
	embedAsCFF: true;
}

@font-face
{
	src: url("../fonts/sky-text-regular.ttf");
	fontFamily: StandardRegularNoCFF;
	embedAsCFF: true;
}
@font-face
{
	src: url("../fonts/sky-text-medium.ttf");
	fontFamily: StandardMedium;
	embedAsCFF: true;
}

@font-face
{
	src: url("../fonts/sky-text-bold.ttf");
	fontFamily: StandardBold;
	embedAsCFF: true;
}
